@import '../colors';
.filter-form {
  margin: 0 auto;
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.filter-container {
  text-align: center;
  color: $mainGrey;
}
.form-group {
  display: flex;

  vertical-align: baseline;
  // flex-direction: column;
  margin-left: 1rem;
  margin-bottom: 2rem;
  &-label {
    display: flex;
    text-transform: uppercase;
    color: $mainBlack;
    letter-spacing: $mainSpacing;
    align-items: center;
  }
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
  border-radius: 5px;
  max-height: 2.5rem;
}
.single-extra{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}